<div class="cocktail-tab">
    <img class="cocktail-image" src="{{cocktail.imageUrl}}">
    <div class="cocktail-detail">
        <div class="cocktail-star" (click)="onClickStar()">
            <span class="icon-star" [class.active]="isFavourite" id="star-{{cocktail.id}}" ></span>
        </div>
        <h1 class="cocktail-name">{{cocktail.name}}</h1>
        <div class="cocktail-type" [class.alcoholic]="cocktail.isAlcoholic">
            <span class="cocktail-type-text">{{cocktail.isAlcoholic ? "Alcoholic" : "Non Alcoholic"}}</span>
        </div>
        <span class="cocktail-ingredients">{{cocktailIngredients}}</span>
    </div>
</div>