<section class="cocktail-list-page">
    <app-cocktails-filter (onChange)="filterCocktails($event)"/>
    <div class="cocktails-container" *ngIf="filteredCocktails && filteredCocktails.length; else noCocktail">
        <app-cocktails-tab *ngFor="let cocktail of filteredCocktails; index as i" [cocktail]="cocktail" [isFavourite]="isFavourite(cocktail.id)" (setFavourite)="setFavourite(cocktail.id, $event)"/>
    </div>

    <ng-template #noCocktail>
        <h1 *ngIf="!!filterText; else loading">No cocktails available for this filter</h1>
        <ng-template #loading>
            <h1>Loading...</h1>
        </ng-template>
    </ng-template>
    
</section>
