<div class="cocktail-tab">
    <img class="cocktail-image" src="{{cocktail.imageUrl}}">
    <div class="cocktail-detail">
        <div class="cocktail-star" (click)="onClickStar()">
            <span class="icon-star" [class.active]="isFavourite" id="star-{{cocktail.id}}" ></span>
        </div>
        <a routerLink="/cocktails/{{cocktail.id}}" class="cocktail-name cocktail-link">{{cocktail.name}}</a>
        <div class="cocktail-type" [class.alcoholic]="cocktail.isAlcoholic">
            <span class="cocktail-type-text">{{cocktail.isAlcoholic ? "Alcoholic" : "Non Alcoholic"}}</span>
        </div>
        <span class="cocktail-ingredients">{{cocktail.ingredients | cocktails}}</span>
    </div>
</div>